header nav {
    height: 70px;
}

header .brand-logo {
    margin: 0 0 0 20px;
}

header .brand-logo img {
    vertical-align: middle;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}

header #cart-dropdown-list {
    width: 300px;
}

header li ul#cart-dropdown-list {
    transition: 0.2s all;
    position: absolute;
    top: 60px;
    right: 0;
}

header li:hover ul#cart-dropdown-list {
    display: block;
    opacity: 1;
}

/* -------------------------------------------------------------------------- */

product .card-content img {
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
}

/* -------------------------------------------------------------------------- */

product-add-to-cart .row,
product-add-to-cart input[type="text"] {
    margin: 0;
}
